.app-card {
  width 38rem
  min-height 13rem
  background-color #3D3E44
  display flex
  align-items center
  border-radius 12px
  overflow hidden
  background-color
  img {
    width 230px
    height 230px
  }
  .content {
    display flex
    flex-direction column
    gap 1rem
    padding 10px

    h3 {
      color rgb(245, 245, 245)
      font-size 2rem
    }
    p {
      color rgb(245, 245, 245)
    }
  }
  .location {
    display flex
    flex-direction column
    gap 6px
    p {
      color rgb(158, 158, 158)
    }
    h4 {
      color rgb(245, 245, 245)
      font-weight lighter
    }

  }
}