.app-home-page {
  header {
    display flex
    justify-content center
    align-items center
    padding 4rem
    h1 {
      color rgb(32, 35, 41)
      font-size 6rem
    }
  }
  section {
    background-color rgb(39, 43, 51)
    min-width 100vw
    min-height 65vh
    .settings {
      display flex
      justify-content space-evenly
      align-items center
      background-color aliceblue
      border-top 2px solid rgb(39, 43, 51)
      .filters {
        display flex
        justify-content center
        align-items center
        gap .5rem
        padding 1rem
      }
      .paginator{
        display flex
        gap 1rem
      }
    }
    .gallery {
      display flex
      flex-wrap wrap
      justify-content center
      gap 2rem
      padding 3rem

      .not-found{
        color white
        font-size 6rem
      }
    }
  }
}